body{
    background-color: black !important;
}
.navbar{
    background-color: rgba(31, 28, 28, 0.829) !important;
    position: fixed !important;
    width: 100%;
}
.navbar-brand{
    font-family: 'Orbitron', sans-serif;
    color: white !important;
}
.nav-link{
    font-family: 'Orbitron', sans-serif;
    color: white !important;
}

#content1{
    background-image: url(../images/blur-close-up-colors-2643596.jpg);
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 600px;
    width: auto;
}
#content1Text{
    margin-top: 70px;
}
#img1{
    width: 80%;
    height: auto;
    margin-bottom: 100px;
    margin-top: 70px;
}

#content2{
    background-image: url(../images/arrows-blur-buttons-2115257.jpg);
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 800px;
    width: auto;
}

#content3{
    background-image: url(../images/buttons-close-up-controller-596750.jpg);
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 800px;
    width: auto;
}

#content4{
    background-image: url(../images/casino-colors-dark-2110357.jpg);
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 800px;
    width: auto;
}